*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section{
  display: flex;
  width: 100%;
}
.left-section{
  display: flex;
  flex-direction: column;
  background: blue;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  flex-basis: 22%;
}
.right-section{
  flex-basis: 78%;
  height: ;

}
.right-section img{
  height: 800px;
}


.logo{
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  display: flex-start;
  /* margin-top: -100px; */
}

.left-section>nav ul{
  padding: 10px;
  color: #fff;
}
#header>nav ul li a{
  text-decoration: none;
}

.container{
  display:flex ;
  width: 100vw;
  flex-basis: 100%;
  
}
.image-section img{
  width: 100%;

}

}

