*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #fff;
  text-decoration: none;
}

.header-section{
  display: flex;
  width: 100%;
}

.logo{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 100px;
}
.nav ul li{
  font-size: 30px;
  list-style: none;
  padding: 15px;
  font-weight: 300;
}
.nav ul{
  padding: 30px 10px;
}
.nav i{
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  
}
.left-section .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}
.left-section{
  background: rgb(0,112,206);
  height:;
  width: 22%;
}
.right-section{
  width: 78%;
}
.right-section img{
  height: 800px;
}

.left-section>nav ul{
  padding: 10px;
  color: #fff;
}
#header>nav ul li a{
  text-decoration: none;
}

.container{
  display:flex ;
  width: 100vw;
  flex-basis: 100%;
  
}
.image-section img{
  width: 100%;

}
.main-section{
  margin-left: 35px;
}
.welcome-section h2{
  color: rgb(0,112,206) ;
  font-size: 35px;
  margin-top: 20px;
  font-weight: bolder;
}
.welcome-section p{
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 60px;
}
.about-section{
  display: flex;
  margin-left: 35px;
}
.about-section img{
  width: 500px;
  height: 600px;
}
.about-section h2{
  color:rgb(0,112,206) ;
  margin-left: 20px;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bolder;
}
.about-section p{
  font-size: 25px;
  margin-left: 20px;
}
.btn{
  background:rgb(19, 91, 149);
  color: #fff;
  padding: 20px 60px;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 500;
  border: 1px solid black;
}
.gallery h2{
  color:rgb(50, 128, 193) ;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-weight: bolder;
}
 .gallery{
  padding: 50p;
  margin-left: 35px;
 }

.gallery-pic{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 20px;
}
.gallery-pic img{
  width: 100%;
  height: 300px;
}


